body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:33px;
  width:220px;
  height:22px;
}
#u602_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u602_input:disabled {
  color:grayText;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:36px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:117px;
  width:140px;
  height:40px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
