body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:29px;
  width:140px;
  height:40px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:29px;
  width:140px;
  height:40px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:29px;
  width:140px;
  height:40px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:79px;
  width:451px;
  height:100px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:36px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:87px;
  height:36px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:83px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:83px;
  height:36px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:36px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:52px;
  height:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:48px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:0px;
  width:64px;
  height:36px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:0px;
  width:75px;
  height:36px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:85px;
  height:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:36px;
  width:87px;
  height:30px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:36px;
  width:83px;
  height:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:36px;
  width:52px;
  height:30px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:36px;
  width:64px;
  height:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:36px;
  width:75px;
  height:30px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:85px;
  height:29px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:29px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:66px;
  width:87px;
  height:29px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:66px;
  width:83px;
  height:29px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:66px;
  width:52px;
  height:29px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:66px;
  width:64px;
  height:29px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:66px;
  width:75px;
  height:29px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
