body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:600px;
  height:215px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:564px;
  height:165px;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:75px;
  height:36px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:60px;
  height:36px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:64px;
  height:36px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:0px;
  width:48px;
  height:36px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:220px;
  height:36px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:92px;
  height:36px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:36px;
  width:75px;
  height:36px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:36px;
  width:60px;
  height:36px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:36px;
  width:64px;
  height:36px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:36px;
  width:48px;
  height:36px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:36px;
  width:220px;
  height:36px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:92px;
  height:52px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:72px;
  width:75px;
  height:52px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:72px;
  width:60px;
  height:52px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:72px;
  width:64px;
  height:52px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u2007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:52px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:72px;
  width:48px;
  height:52px;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u2009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:72px;
  width:220px;
  height:52px;
  color:#0000FF;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  word-wrap:break-word;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:92px;
  height:36px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u2013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:124px;
  width:75px;
  height:36px;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:124px;
  width:60px;
  height:36px;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:124px;
  width:64px;
  height:36px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:124px;
  width:48px;
  height:36px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u2021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:124px;
  width:220px;
  height:36px;
  color:#0000FF;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u2023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:171px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:269px;
  width:603px;
  height:170px;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:599px;
  word-wrap:break-word;
}
#u2025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2025 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:243px;
  width:170px;
  height:16px;
  font-size:13px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:239px;
  width:66px;
  height:25px;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u2029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:449px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:445px;
  width:80px;
  height:25px;
}
#u2031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:197px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:480px;
  width:600px;
  height:197px;
}
#u2033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:480px;
  width:573px;
  height:181px;
}
#u2035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u2035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u2036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u2037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u2037 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:0px;
  width:75px;
  height:52px;
}
#u2038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u2039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u2039 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:60px;
  height:52px;
}
#u2040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u2041 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:49px;
  height:52px;
}
#u2042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u2043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:52px;
}
#u2043 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:48px;
  height:52px;
}
#u2044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u2045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u2045 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:83px;
  height:52px;
}
#u2046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u2047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u2047 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:0px;
  width:59px;
  height:52px;
}
#u2048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u2049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:52px;
}
#u2049 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:0px;
  width:41px;
  height:52px;
}
#u2050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u2051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:52px;
}
#u2051 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:34px;
  height:52px;
}
#u2052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u2053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:52px;
}
#u2053 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:0px;
  width:46px;
  height:52px;
}
#u2054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u2055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:73px;
  height:36px;
}
#u2056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u2057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u2057 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:52px;
  width:75px;
  height:36px;
}
#u2058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2059 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:52px;
  width:60px;
  height:36px;
}
#u2060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2061 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:52px;
  width:49px;
  height:36px;
}
#u2062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u2063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:52px;
  width:48px;
  height:36px;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u2065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:52px;
  width:83px;
  height:36px;
  color:#000000;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u2067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:52px;
  width:59px;
  height:36px;
  color:#000000;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:52px;
  width:41px;
  height:36px;
  color:#000000;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u2071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:52px;
  width:34px;
  height:36px;
  color:#000000;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:52px;
  width:46px;
  height:36px;
  color:#000000;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:52px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:73px;
  height:52px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:69px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:88px;
  width:75px;
  height:52px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:88px;
  width:60px;
  height:52px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u2081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:52px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:88px;
  width:49px;
  height:52px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:52px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:88px;
  width:48px;
  height:52px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:88px;
  width:83px;
  height:52px;
  color:#000000;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:88px;
  width:59px;
  height:52px;
  color:#000000;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:52px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:88px;
  width:41px;
  height:52px;
  color:#000000;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:52px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:88px;
  width:34px;
  height:52px;
  color:#000000;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:30px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:52px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:88px;
  width:46px;
  height:52px;
  color:#000000;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:73px;
  height:36px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u2097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:140px;
  width:75px;
  height:36px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:140px;
  width:60px;
  height:36px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:140px;
  width:49px;
  height:36px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:140px;
  width:48px;
  height:36px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:140px;
  width:83px;
  height:36px;
  color:#000000;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:140px;
  width:59px;
  height:36px;
  color:#000000;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:140px;
  width:41px;
  height:36px;
  color:#000000;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:36px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:140px;
  width:34px;
  height:36px;
  color:#000000;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:140px;
  width:46px;
  height:36px;
  color:#000000;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:449px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:445px;
  width:66px;
  height:25px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
